<div id="activityBox" layout-fill layout-padding>
    <div class="inset" hide-sm></div>
    <div layout="row" layout-align="center center">
        <md-card flex="90" flex-gt-md="80">
            <md-card-content>
                <!-- fifth tour item -->
                <md-list>
                    <md-list-item>
                        <h2 id="activityToolTip1" tour-step-content="We are here" tour-step="page2step1" tour-step-order="4" tour-step-prev-path="home" tour-step-prev-step="page1step4" tour-step-placement="bottom">Activity 2</h2>
                    </md-list-item>
                    <!--Item 1-->
                    <md-list-item>
                        <div class="md-title-left inset" hide-sm>
                            <user-avatar></user-avatar>
                        </div>
                        <div class="md-title-content">
                            <h3>Brunch this weekend</h3>
                            <h4>Ali Conners</h4>
                            <p>I'll be in your neighborhood doing errands</p>
                        </div>
                    </md-list-item>
                    <md-divider md-inset hide-sm></md-divider>
                    <md-divider hide-gt-sm></md-divider>
                    <!--Item 1-->
                    <md-list-item>
                        <div class="md-title-left inset" hide-sm>
                            <user-avatar></user-avatar>
                        </div>
                        <div class="md-title-content">
                            <h3>Summer BBQ</h3>
                            <h4>to Alex, Scott, Jennifer</h4>
                            <p>Wish I could come out but I'm out of town this weekend</p>
                        </div>
                    </md-list-item>
                    <!------------------------------------------------------------------------------------------------------------ -->
                    <!--Item 1-->
                    <md-list-item>
                        <div class="md-title-left inset" hide-sm>
                            <user-avatar></user-avatar>
                        </div>
                        <div class="md-title-content">
                            <h3>Brunch this weekend</h3>
                            <h4>Ali Conners</h4>
                            <p>I'll be in your neighborhood doing errands</p>
                        </div>
                    </md-list-item>
                    <md-divider md-inset hide-sm></md-divider>
                    <md-divider hide-gt-sm></md-divider>
                    <!--Item 1-->
                    <md-list-item>
                        <div class="md-title-left inset" hide-sm>
                            <user-avatar></user-avatar>
                        </div>
                        <div class="md-title-content">
                            <h3>Summer BBQ</h3>
                            <h4>to Alex, Scott, Jennifer</h4>
                            <p>Wish I could come out but I'm out of town this weekend</p>
                        </div>
                    </md-list-item>
                    <!------------------------------------------------------------------------- -->
                    <!--Item 1-->
                    <md-list-item>
                        <div class="md-title-left inset" hide-sm>
                            <user-avatar></user-avatar>
                        </div>
                        <div class="md-title-content">
                            <h3>Brunch this weekend</h3>
                            <h4>Ali Conners</h4>
                            <p>I'll be in your neighborhood doing errands</p>
                        </div>
                    </md-list-item>
                    <md-divider md-inset hide-sm></md-divider>
                    <md-divider hide-gt-sm></md-divider>
                    <!--Item 1-->
                    <md-list-item>
                        <div class="md-title-left inset" hide-sm>
                            <user-avatar></user-avatar>
                        </div>
                        <div class="md-title-content">
                            <h3>Summer BBQ</h3>
                            <h4>to Alex, Scott, Jennifer</h4>
                            <p>Wish I could come out but I'm out of town this weekend</p>
                        </div>
                    </md-list-item>
                    <!-------------------------------------------------------------------------- -->
                    <!--Item 1-->
                    <md-list-item>
                        <div class="md-title-left inset" hide-sm>
                            <user-avatar></user-avatar>
                        </div>
                        <div class="md-title-content">
                            <h3>Brunch this weekend</h3>
                            <h4>Ali Conners</h4>
                            <p>I'll be in your neighborhood doing errands</p>
                        </div>
                    </md-list-item>
                    <md-divider md-inset hide-sm></md-divider>
                    <md-divider hide-gt-sm></md-divider>
                    <!--Item 1-->
                    <md-list-item>
                        <div class="md-title-left inset" hide-sm>
                            <user-avatar></user-avatar>
                        </div>
                        <div class="md-title-content">
                            <h3>Summer BBQ</h3>
                            <h4>to Alex, Scott, Jennifer</h4>
                            <p>Wish I could come out but I'm out of town this weekend</p>
                        </div>
                    </md-list-item>
                    <!-------------------------------------------------------------------------------------------------------------------- -->
                    <md-divider></md-divider>
                    <md-list-item layout class="inset">
                        <!-- Sixth tour item -->
                        <md-button layout layout-align="start center" flex class="md-primary" class="avtivityBoxTool" id="avtivityToolTip2" data-step="6" data-intro="Complete Activity" tour-step tour-step-content="hello" tour-step-order="2" tour-step-placement="bottom">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg> More
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
</div>