<div layout-fill layout-padding>
    <md-content>
        <div layout="row">
            <md-card style="height: 776px;">
                <md-sidenav class="md-sidenav-left" style="width: 250px; min-width: 250px; max-width: 250px;" md-component-id="left2" md-is-locked-open="$mdMedia('gt-md')">
                    <md-toolbar style="min-height: 50px;" class="md-hue-3">
                        <h1 class="md-toolbar-tools">Notebook</h1>
                    </md-toolbar>
                    <md-content>
                        <div style="padding-top: 10px;" data-angular-treeview="true" data-tree-id="mytree" data-tree-model="roleList" data-node-id="roleId" data-node-label="roleName" data-node-children="children">
                        </div>
                        <br><br>
                        <md-button ng-click="close()" class="md-raised md-warn" hide-gt-md ng-cloak>
                            Close
                        </md-button>
                    </md-content>
                </md-sidenav>
            </md-card>
            <!-- column 2-->
            <md-content layout="row" style="margin-bottom: 150px;">
                <div flex="grow" layout="column">
                    <md-content>
                        <!-- CK-editor -->
                        <div ng-show="isCkeditorShow" style="height: 470px; overflow: hidden;">
                            <md-button class="md-icon-button" style="color: gray;" ng-click="showCkeditor();makingCkeditor()"><i class="material-icons">arrow_back</i></md-button>
                            <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
                                <md-button class="md-raised md-primary">Notebook</md-button>
                            </md-button>

                            <div layout-fill style="height: 600px;">
                                <div flex layout="column">

                                    <main>
                                        <div class="adjoined-bottom">
                                            <div class="grid-container" style="">
                                                <div style="padding: 0px 0px 0px 0px;" class="grid-width-100">
                                                    <div id="editor">
                                                        <p style="text-align: center">{{ck.Information[index].heading}}</p>
                                                        <p style="text-align: center">{{ck.Information[index].content}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </main>

                                    <div>
                                        <md-toolbar style="min-height: 10px; background-color: white;">
                                            <div class="md-toolbar-tools">
                                                <md-button class="md-icon-button" style="color: gray;"><i class="material-icons">attach_file</i></md-button>
                                                <md-button class="md-icon-button" style="color: gray;"><i class="material-icons">share</i></md-button>
                                                <md-button class="md-icon-button" style="color: gray;"><i class="material-icons">delete</i></md-button>
                                                <span flex></span>
                                                <md-button class="md-primary" style="color: #3f51b5;">SAVE</md-button>
                                            </div>
                                        </md-toolbar>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- CK-editor ends -->
                        <!-- Content view -->
                        <div ng-hide="!isContentShow" ng-show="!isCkeditorShow" style="overflow: hidden;">
                            <md-card>
                                <md-toolbar style="min-height: 50px;" class="md-hue-3" layout="row">
                                    <div class="md-toolbar-tools" style="padding: 4px 16px 0px 16px;">
                                        <md-button class="md-icon-button" style="color: gray;" ng-hide="!isContentShow" ng-click="isContentShowToggle()"><i class="material-icons">arrow_back</i></md-button>
                                        <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
                                            <span style="color:white;">Notebook</span>
                                        </md-button>
                                        <md-button class="md-icon-button" style="color: gray;"><i class="material-icons">note_add</i></md-button>
                                        <span flex></span>
                                        <md-button class="md-icon-button" style="color: gray;" ng-click="showCkeditor()"><i class="material-icons">edit</i></md-button>
                                        <md-button class="md-icon-button md-warn"><i class="material-icons">delete</i></md-button>
                                    </div>
                                </md-toolbar>
                                <div flex="grow">
                                    <h1 style="text-align: center;">{{ck.Information[index].heading}}</h1>
                                    <p style="text-align: center">{{ck.Information[index].content}}</p>
                                </div>
                            </md-card>
                        </div>
                        <!-- Normal view -->
                        <div ng-hide="isContentShow" layout="column" layout-align="center center" layout-wrap>
                            <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
                                <md-button class="md-raised md-primary">Notebook</md-button>
                            </md-button>
                            <div ng-hide="isContentShow" layout="row" layout-align="start start" layout-wrap>
                                <md-card style="margin: 20px 20px 30px 20px;" flex-xs="100" flex-sm="50" flex-md="33" flex-lg="25" flex-gt-lg="20" ng-repeat="info in ck.Information" layout="column" layout-align="center center" layout-margin layout-padding class="md-whiteframe-2dp">
                                    <md-card-title>
                                        <md-card-title-text ng-click="null">
                                            <div class="md-headline" ng-click="assigningIndex($index);isContentShowToggle()">{{info.heading}}</div>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-card-content>
                                        <p id="{{$index+'card'}}">{{info.content}}</p>
                                    </md-card-content>
                                    <md-divider class="action"></md-divider>
                                    <div layout="row" layout-align="center center">
                                        <md-card-actions class="contact-action" ng-repeat="myButton in info.MyButtonNames">
                                            <md-card-icon-actions>
                                                <md-button class="button-action md-icon-button" style="color: gray;">
                                                    <md-icon>{{myButton}}</md-icon>
                                                </md-button>
                                            </md-card-icon-actions>
                                        </md-card-actions>
                                    </div>
                                </md-card>
                            </div>
                        </div>
                    </md-content>
                </div>
            </md-content>
        </div>
    </md-content>
</div>