<div layout-padding layout-fill style="margin-bottom: 100px;">
    <div class="inset" hide-sm></div>
    <div layout="row" layout-align="center start" layout-fill layout-wrap style="margin-bottom: 100px;">
        <md-card style="padding:0px 0px 0px 0px; margin: 20px 16px 20px 16px;" flex-xs="100" flex-sm="50" flex-md="33" flex-lg="25" flex-gt-lg="20" ng-repeat="tlb in tlbCtrl.Leaders" layout="column" layout-align="center center" layout-margin layout-padding class="md-whiteframe-2dp">

            <p style="padding:10px 10px10px 10px; margin:0; color: gray;" class="md-subhead" layout-fill>IT-{{tlb.teamNumber}}-{{tlb.teamTitle}}</p>
            <md-divider class="action"></md-divider>
            <div style="padding: 0px 0px 0px 0px;" layout="row" layout-fill layout-align="start center">
                <img style="width: 50px;height: 50px; border-radius: 50%;margin-top: 10px;margin-left: 10px;" ng-src="{{tlb.img1}}" />
                <img style="width: 50px;height: 50px; border-radius: 50%;margin-top: 10px;margin-left: 5px;" ng-src="{{tlb.img2}}" />
                <img style="width: 50px;height: 50px; border-radius: 50%;margin-top: 10px;margin-left: 5px;" ng-src="{{tlb.img3}}" />
            </div>
            <md-card-title class="sanitize" layout="row" layout-align="start center" layout-fill layout-padding>
                <md-card-title-text layout-align="start center">
                    <p layout-fill layout-align="start center" style="font-size: 18px;color: #565958;font-weight: 400; padding:10px 10px10px 10px;">{{tlb.title}}</p>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout-fill layout="column" layout-align="start center">
                <p style="color: #6b706e;font-style: normal;line-height: 1.4;text-align: left; font-size: 15px;">{{tlb.info}}</p>
                <p style="color: #6b706e;text-align: left; font-size: 12px; margin:0px;">Status of current project</p>
                <md-progress-linear md-mode="determinate" value="{{tlb.progressBarValue}}"></md-progress-linear>
            </md-card-content>

            <md-card-actions class="tlb-action" layout-fill layout="row" style="display: flex; justify-content: space-around;align-content: space-around;">
                <div layout="column">
                    <p style="color: #565958; text-align: left; font-size: 15px;margin: 0px 0px 0px 0px;">PROJECTS</p>
                    <p style="color: #565958;font-size: 15px; margin: 0px 0px 0px 0px;">48</p>
                </div>
                <div layout="column">
                    <p style="color: #565958; text-align: left; font-size: 15px; margin: 0px 0px 0px 0px;">RANKING</p>
                    <p style="color: #565958;font-size: 15px; margin: 0px 0px 0px 0px;">12</p>
                </div>
            </md-card-actions>
        </md-card>
    </div>
</div>