<div layout-fill layout-padding>
    <div style="display: flex; justify-content: center; align-items: center;">
        <md-content>
            <md-card layout="row" style="max-width: 800px;">
                <md-content flex layout="column">
                    <div style="padding: 24px 24px 24px 24px;" layout="column" layout-align="start">
                        <p style="text-align: left;" class="md-title">Email address verification</p>
                        <p style="text-align: left;">When a user signs up using an email address and password, you can send them a confirmation email to verify their registered email address.
                            <a style="color: #039BE5; font-size: 10px;" href="#">Learn more</a>
                        </p>
                    </div>
                    <md-divider></md-divider>
                    <div style="padding: 0px 24px 24px 24px;" layout="column">
                        <div layout="column" layout-gt-sm="row" style="padding-top: 24px;">
                            <div>
                                <p class="md-caption" style="color: #8C7991;">Sender name</p>
                                <p class="md-body-1">Not Provided</p>
                            </div>
                            <span flex></span>
                            <div layout="row">
                                <div layout="column" layout-align="start">
                                    <p class="md-caption" style="color: #8C7991;">Form</p>
                                    <p class="md-body-1" style="margin-top: 0px;">noreply@aviate-web-e6ae0.firebaseapp.com</p>
                                </div>
                                <span flex></span>
                                <i class="material-icons md-18">mode_edit</i>
                            </div>
                        </div>
                        <div style="padding-top: 24px;">
                            <div>
                                <p class="md-caption" style="color: #8C7991;">Reply to</p>
                                <p class="md-body-1">Not Provided</p>
                            </div>
                        </div>
                        <div style="padding-top: 24px;">
                            <div>
                                <p class="md-caption" style="color: #8C7991;">Subject</p>
                                <p class="md-body-1">Verify your email for Aviate Web</p>
                            </div>
                        </div>
                        <div style="padding-top: 24px;">
                            <div layout="column">
                                <p class="md-caption" style="color: #8C7991;">Message</p>
                                <p class="md-body-1">Hello %DISPLAY_NAME%,</p>
                                <p> Follow this link to verify your email address.</p>
                                <a style="color: #039BE5;" href="https://aviate-web-e6ae0.firebaseapp.com/__/auth/action?mode=<action>&oobCode=<code>">https://aviate-web-e6ae0.firebaseapp.com/__/auth/action?mode=<action>&oobCode=<code></a>
                                <p>If you didn’t ask to verify this address, you can ignore this email.</p>
                                <p>Thanks,</p>
                                <p>Your Aviate Web team</p>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-card>
        </md-content>
    </div>
</div>