<div layout-padding layout-fill>
    <md-bottom-sheet class="md-grid" layout="column">
        <div ng-cloak>
            <md-list flex layout="row" layout-align="center center">
                <md-list-item>
                    <div>
                        <md-button class="md-grid-item-content">
                            <md-icon md-font-set="md">email</md-icon>
                            <div class="md-grid-text">Mail</div>
                        </md-button>
                    </div>
                </md-list-item>
                <md-list-item>
                    <div>
                        <md-button class="md-grid-item-content">
                            <md-icon md-font-set="md">message</md-icon>
                            <div class="md-grid-text">Message</div>
                        </md-button>
                    </div>
                </md-list-item>
                <md-list-item>
                    <div>
                        <md-button class="md-grid-item-content">
                            <md-icon md-font-set="md">content_copy</md-icon>
                            <div class="md-grid-text">Copy</div>
                        </md-button>
                    </div>
                </md-list-item>
                <md-list-item>
                    <div>
                        <md-button class="md-grid-item-content">
                            <md-icon md-font-set="md">group_add</md-icon>
                            <div class="md-grid-text">Groups</div>
                        </md-button>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-bottom-sheet>
</div>