    md-content.md-default-theme {
        background-color: #eee;
    }
    
    md-card {
        background-color: #fff;
    }
    
    md-card h2:first-of-type {
        margin-top: 0;
    }
    
    md-toolbar-tools.md-button {
        border-radius: 50%;
    }
    
    h2 {
        font-weight: 400;
    }
    
    .md-toolbar-tools-bottom {
        font-size: small;
    }
    
    md-toolbar:not(.md-hue-1),
    .md-fab {
        color: black;
        fill: #fff;
    }
    
    md-sidenav {
        color: #737373;
    }
    
    .user-avatar {
        border-radius: 50%;
    }
    
    md-sidenav>md-list>md-list-item>button {
        width: 100%;
    }
    
    md-toolbar div.md-errors-spacer {
        display: none;
    }
    
    div.md-toolbar-tools md-input-container {
        margin: 0;
    }
    
    .sidenavLink {
        text-decoration: none;
        color: #737373;
    }
    
    h3 {
        margin: 6px;
    }
    
    img.contact {
        width: 80px;
        height: 80px;
        margin-top: 20px;
        border-radius: 50%;
    }
    
    .contact-name {
        color: #666666;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    .contact-title {
        color: #666666;
        font-weight: 400;
        font-size: 13px;
        text-align: center;
    }
    
    md-card-title.sanitize {
        margin: 0;
        padding: 0;
    }
    
    md-divider.action {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    address.contact-address {
        margin-top: 0;
        margin-bottom: 0;
        color: #666666;
        font-style: normal;
        line-height: 1.4;
        text-align: center;
        font-size: 13px;
    }
    
    md-card-actions.contact-action {
        margin: 0;
        padding: 0;
    }
    
    button.button-action.md-button.md-ink-ripple {
        margin: 0 !important;
        padding-left: 1px;
        font-size: 13px;
        min-width: 40px;
    }
    
    .active-letter {
        background-color: #ccc;
    }
    /*div.md-button.md-no-style {
    min-width: 0px;
}
*/
    
    md-toolbar {
        min-height: 8px;
    }
    
    .md-toolbar-tools {
        height: 48px;
    }
    
    md-card-title.filter-title {
        margin: 0;
        padding: 0;
    }
    
    md-card-title-text.filter-title-text {
        margin: 0;
        padding: 0;
        color: #666666;
        text-align: center;
    }
    
    .filter-alphabets p a {
        font-size: 16px;
        color: #666666;
        padding: 5px;
    }
    
    .none {
        display: none;
    }
    
    md-sidenav.noText {
        width: auto;
    }
    
    md-list-item.left-sidenav {
        height: 48px;
        text-align: left;
        /* border-left: thick solid rgb(2, 119, 189);
    background-color: lightgray;
*/
    }
    /*------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    
    .makingWidthSmall {
        min-width: 40px !important;
        min-height: 40px !important;
    }
    
    .dropbtn {
        color: white;
        border: none;
        cursor: pointer;
    }
    
    .dropbtn:hover,
    .dropbtn:focus {
        background-color: #3e8e41;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        border-radius: 10px;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    }
    
    .dropdown-content a {
        margin: 5px;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown a:hover {
        background-color: #f1f1f1
    }
    
    .show {
        display: block;
    }
    
    .animated {
        background-image: url(/css/images/logo.png);
        background-repeat: no-repeat;
        background-position: left top;
        margin-bottom: 60px;
        -webkit-animation-duration: 10s;
        animation-duration: 0.6s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    
    @-webkit-keyframes fadeInRight {
        0% {
            opacity: 0;
            -webkit-transform: translateX(10px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateX(0);
        }
    }
    
    @keyframes fadeInRight {
        0% {
            opacity: 0;
            transform: translateX(10px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    .fadeInRight {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
    }
    
    .flex-container {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: center;
    }
    
    .flex-item {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
    }
    
    .selectedTab {
        border-left: 7px solid #03A9F4;
        background-color: #DEDEDE;
    }
    
    #col_1 {
        border-right: 2px solid darkgray;
    }
    
    #col_2 {
        border-right: 2px solid darkgray;
    }
    /*---------For treeview---------------------------------*/
    
    md-sidenav>md-content>div[data-angular-treeview] {
        /* prevent user selection */
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        /* default */
        font-family: Tahoma;
        font-size: 13px;
        color: #555;
        text-decoration: none;
    }
    
    md-sidenav>md-content>div[data-tree-model] ul {
        margin: 0;
        padding: 0;
        list-style: none;
        border: none;
        overflow: hidden;
    }
    
    md-sidenav>md-content>div[data-tree-model] li {
        position: relative;
        padding: 0 0 0 20px;
        line-height: 20px;
    }
    
    md-sidenav>md-content>div[data-tree-model] li .expanded {
        padding: 1px 10px;
        background-image: url("http://cfile23.uf.tistory.com/image/205B973A50C13F4B19D9BD");
        background-repeat: no-repeat;
    }
    
    md-sidenav>md-content>div[data-tree-model] li .collapsed {
        padding: 1px 10px;
        background-image: url("http://cfile23.uf.tistory.com/image/1459193A50C13F4B1B05FB");
        background-repeat: no-repeat;
    }
    
    md-sidenav>md-content>div[data-tree-model] li .normal {
        padding: 1px 10px;
        background-image: url("http://cfile23.uf.tistory.com/image/165B663A50C13F4B196CCA");
        background-repeat: no-repeat;
    }
    
    md-sidenav>md-content>div[data-tree-model] li i,
    md-sidenav>md-content>div[data-tree-model] li span {
        cursor: pointer;
    }
    
    md-sidenav>md-content>div[data-tree-model] li .selected {
        font-weight: bold;
        padding: 1px 5px;
    }
    
    #0card>p {
        background-color: blue;
    }
    
    .selectedItem {
        background-color: #039BE5;
        color: white;
    }
    
    .vertical-divider {
        border-top-width: 0;
        border-right-width: 1px;
        border-right-style: solid;
        height: 100%;
        border-color: #5f6b68;
    }
    
    div#activitybox>div.vertical-divider {
        border-top-width: 0;
        border-right-width: 1px;
        border-right-style: solid;
        height: 100%;
        border-color: #5f6b68;
    }
    
    body {
        overflow-x: hidden;
    }
    
    .marginToView {
        margin-left: 95px;
    }
    
    div.md-subheader>div.md-subheader-inner {
        padding: 0px;
    }